{% extends 'base.html.twig' %}

{% block body %}
    <div class="body">
        <h3>Get-Location</h3>
        <p>Get address by typing latitude and longitute or get latitude and longitude by typing address below. You can also change color, shape of marker and also you can hide/show or add/delete the marker. If you can't see map then please reload the page.</p>
    </div>
    <div class="overall">

    <p style="text-transform:uppercase; font:20px normal; text-align:center;"> Google Map API
        <div id="map"></div>
    <p>
            
        <div class="container-col">
            <div class="container-col-sub">
                <div class=h3>
                    <h3>Editing and Searching Options</h3>
                </div>
                    
                <div class=address>
                    <form id="location-form">                                    
                        <input id="address" class="btn" type="textbox" placeholder="Type place's name OR Latitude and Longitude here.....">
                                       
                        <input id="provide-location" class="btn btn1" type="submit" value="Get Address">
                    </form>
                </div>
                <div class="card-block" id="formatted-address"></div>
                <div class="card-block" id="address-components"></div>
                <div class="card-block" id="geometry"></div>

                <hr>                     
                        
                <div class="address">
                    <input type="color" id="marker-color" class="btn">
                                    
                    <input id="provide-color" class="btn btn1" type="button" value="Change Marker's Color">
                </div>

                <hr>
                                
                <div class="address">
                    <input id="marker-icon" class="btn" type="url" list="defaultURLs" placeholder="Choose One...." required>
                    <datalist id="defaultURLs">
                        <option value="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png" label="Beach Flag">
                            
                        <option value="http://maps.google.com/mapfiles/ms/icons/arts.png" label="Arts">

                        <option value="http://maps.google.com/mapfiles/ms/icons/landmarks-jp.png" label="Landmarks">
                    </datalist>
                                    
                    <input id="provide-icon" class="btn btn1" type="button" value="Change Marker's Style">
                </div>

                <hr>

                <input id="hide-marker" class="btn btn1 btn2" type=button value="Hide Marker Icon">
                        
                <input id="show-marker" class="btn btn1 btn2" type=button value="Show Marker Icon">
                        
                <input id="delete-marker" class="btn btn1 btn2" type=button value="Delete Marker Icon">
                        
            </div>
        </div>
    </div>

{% endblock %}


